<section class="about-section">
    <div class="about-section-content-wrapper">
        <div class="about-section-text-content">
            <h1>{{ site.data[site.active_lang].about_us_section.title }}</h1>
            <h2>{{ site.data[site.active_lang].about_us_section.subtitle }}</h2>
            <p>{{ site.data[site.active_lang].about_us_section.description }}</p>
        </div>
        <div class="image-container">
            <img src="{{ site.data[site.active_lang].about_us_section.image.src }}" alt="{{ site.data[site.active_lang].about_us_section.image.alt }}">
        </div>
    </div>
</section>