<div class="demo-section">
    <div class="demo-section-content-wrapper">
        <div class="demo-section-text-content">
            <h1>{{ site.data.demo_section.title }}</h1>
            <h4>{{ site.data.demo_section.description }}</h4>
            <a href="{{ site.data.demo_section.cta_button.url }}" class="cta-button">
                <span>{{ site.data.demo_section.cta_button.text }}</span>
                <div class="cta-button-img-container">
                    <img src="{{ site.data.demo_section.cta_button.icon.src }}"
                        alt="{{ site.data.demo_section.cta_button.icon.alt }}">
                </div>
            </a>
        </div>
    </div>
</div>