<div class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="{{ site.baseurl }}{{ site.data[site.active_lang].footer.logo.src }}"
                alt="{{ site.data[site.active_lang].footer.logo.alt }}" class="footer-logo">
            <p>{{ site.data[site.active_lang].footer.logo.description }}</p>
            <div class="social-links">
                {% for social in site.data[site.active_lang].footer.social_links.links %}
                <a href="{{ social.url }}" target="_blank" rel="noopener">
                    <img src="{{ site.baseurl }}{{ social.icon }}" alt="{{ social.alt }}">
                </a>
                {% endfor %}
            </div>
        </div>

        <ul class="footer-links">
            {% for link in site.data[site.active_lang].footer.footer_links %}
            <li>
                <a href="{{ link.url | relative_url }}">{{ link.text }}</a>
            </li>
            {% endfor %}
        </ul>

        <div class="footer-right">
            <div class="partner-section">
                {% for partner in site.data[site.active_lang].footer.partner_logos %}
                <img src="{{ partner.src }}" alt="{{ partner.alt }}">
                {% endfor %}
            </div>
            <p>{{ site.data[site.active_lang].footer.disclaimer }}</p>
            <p>
                © {% assign year = site.time | date: "%Y" %}{{ year }} {{ site.data[site.active_lang].footer.copyright
                }}
            </p>
        </div>
    </div>
</div>