<section class="pipeline-section{% if include.first == 'true' %} header-space{% endif %}">
    <div class="content-wrapper">
        <div class="pipeline-text-content">
            <h2>{{ site.data[site.active_lang].pipeline_section.title }}</h2>
            <p>{{ site.data[site.active_lang].pipeline_section.subtitle }}</p>
        </div>
        <div class="pipeline-container">
            <div class="main-pipeline-image">
                <div class="desktop">
                    <img src="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image.src }}"
                        alt="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image.alt }}" />

                    {% for overlay in site.data[site.active_lang].pipeline_section.overlays %}
                    <div class="overlay"
                        style="position: absolute; left: {{ overlay.position.left }}; top: {{ overlay.position.top }}; width: {{ overlay.size.width }}; height: {{ overlay.size.height }};"
                        data-position="{{ overlay.position.align }}" data-image-src="{{ overlay.desktop_image_src }}">
                        <div class="description-bubble">
                            <span class="bubble-number">{{ forloop.index | prepend: "0" }}</span>
                            <span class="bubble-title">{{ overlay.title }}</span>
                            <p class="bubble-description">{{ overlay.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <img class="mobile"
                    src="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image_mobile.src }}"
                    alt="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image_mobile.alt }}" />

                <div class="pipeline-descriptions">
                    {% for overlay in site.data[site.active_lang].pipeline_section.overlays %}
                    <div class="description" data-top="{{ overlay.mobile-top }}">
                        <span>{{ overlay.title }}</span>
                        <p>{{ overlay.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pipeline-explanation-container">
            <span>{{ site.data[site.active_lang].pipeline_section.explanation.text }}</span>
            <img src="{{ site.data[site.active_lang].pipeline_section.explanation.image.src }}"
                alt="{{ site.data[site.active_lang].pipeline_section.explanation.image.alt }}" />
        </div>
        <p class="pipeline-bottom-text">{{ site.data[site.active_lang].pipeline_section.bottom_text }}</p>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const descriptions = document.querySelectorAll('.pipeline-descriptions .description');
        descriptions.forEach(function (description) {
            description.style.top = description.getAttribute('data-top');
        });

        const overlays = document.querySelectorAll('.overlay');
        const desktopImage = document.querySelector('.main-pipeline-image .desktop img');

        const originalImageSrc = "{{ site.data[site.active_lang].pipeline_section.main_pipeline_image.src }}";

        const imageCache = {};
        imageCache[originalImageSrc] = new Image();
        imageCache[originalImageSrc].src = originalImageSrc;

        overlays.forEach(function (overlay) {
            const newImageSrc = overlay.getAttribute('data-image-src');
            if (!imageCache[newImageSrc]) {
                imageCache[newImageSrc] = new Image();
                imageCache[newImageSrc].src = newImageSrc;
            }
        });

        overlays.forEach(function (overlay) {
            overlay.addEventListener('mouseover', function () {
                const newImageSrc = overlay.getAttribute('data-image-src');
                desktopImage.src = imageCache[newImageSrc].src;
            });

            overlay.addEventListener('mouseout', function () {
                desktopImage.src = imageCache[originalImageSrc].src;
            });
        });
    });
</script>