<section class="pipeline-section">
    <div class="pipeline-content-wrapper">
        <div class="pipeline-text-content">
            <h2>{{ site.data[site.active_lang].pipeline_section.title }}</h2>
            <p>{{ site.data[site.active_lang].pipeline_section.subtitle }}</p>
        </div>
        <div class="pipeline-container">
            <div class="main-pipeline-image">
                <!-- WIP -->
                <map name="image-map">
                    <area target="" alt="" title="" href="" coords="6,4,138,130" shape="rect">
                    <area target="" alt="" title="" href="" coords="210,198,290,10" shape="rect">
                    <area target="" alt="" title="" href="" coords="430,6,660,238" shape="rect">
                    <area target="" alt="" title="" href="" coords="792,0,1094,236" shape="rect">
                    <area target="" alt="" title="" href="" coords="140,369,324,509" shape="rect">
                    <area target="" alt="" title="" href="" coords="628,509,436,373" shape="rect">
                    <area target="" alt="" title="" href="" coords="876,277,1036,451" shape="rect">
                </map>
                <img class="desktop" src="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image.src }}"
                    alt="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image.alt }}" usemap="#image-map" />
                <img class="mobile" src="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image_mobile.src }}"
                    alt="{{ site.data[site.active_lang].pipeline_section.main_pipeline_image_mobile.alt }}" />
                <div class="pipeline-descriptions">
                    {% for overlay in site.data[site.active_lang].pipeline_section.overlays %}
                    <div class="description" data-top="{{ overlay.mobile-top }}">
                        <span class>{{ overlay.title }}</span>
                        <p>{{ overlay.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pipeline-overlays">
                {% for overlay in site.data[site.active_lang].pipeline_section.overlays %}
                <div class="overlay-image" data-top="{{ overlay.position.top }}" data-left="{{ overlay.position.left }}"
                    data-description="{{ overlay.description }}">
                    <img src="{{ overlay.image.src }}" alt="{{ overlay.image.alt }}" />
                    <div class="description-bubble">
                        <span class="bubble-number">{{ forloop.index | prepend: "0" }}</span>
                        <span class="bubble-title">{{ overlay.title }}</span>
                        <p class="bubble-description">{{ overlay.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pipeline-explanation-container">
            <span>{{ site.data[site.active_lang].pipeline_section.explanation.text }}</span>
            <img src="{{ site.data[site.active_lang].pipeline_section.explanation.image.src }}" alt="{{ site.data[site.active_lang].pipeline_section.explanation.image.alt }}" />
        </div>
        <p class="pipeline-bottom-text">{{ site.data[site.active_lang].pipeline_section.bottom_text }}</p>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const overlayImages = document.querySelectorAll('.overlay-image');
        overlayImages.forEach(function (overlay) {
            const top = overlay.getAttribute('data-top');
            const left = overlay.getAttribute('data-left');
            overlay.style.top = `${Number(top) - 30}px`;
            overlay.style.left = `${Number(left) - 30}px`;
        });

        const descriptions = document.querySelectorAll('.pipeline-descriptions .description');
        descriptions.forEach(function (description) {
            description.style.top = description.getAttribute('data-top');
        });
    });
</script>