<section class="resources-section" id="{{ include.id }}">
    <div class="resources-content-wrapper">
        <div class="resources-text-content">
            <h2>{{ site.data.resources_section.title }}</h2>
            <p>{{ site.data.resources_section.subtitle }}</p>
        </div>
        <div class="resources-container">
            {% for column in site.data.resources_section.columns %}
            <div class="resource-column">
                <img src="{{ column.image.src }}" alt="{{ column.image.alt }}" />
                <h3>{{ column.title }}</h3>
                <div class="resource-items">
                    {% assign resources = site.data.resources[column.resource_group_id] %}
                    {% if resources and resources.size > 0 %}
                    {% for resource in resources %}
                    <div class="resource-item">
                        <a href="{{ resource.url }}" class="resource-link">
                            <h4>{{ resource.title }}</h4>
                            <img src="{{ '/assets/images/icons/small-arrow-icon.svg' | relative_url }}"
                                alt="Small arrow icon">
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>To be published</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>