{% assign video = site.data[site.active_lang].videos[include.video_id] %}

{% if video %}
<section id="{{ include.id }}" class="video-section{% if include.first == 'True' %} header-space{% endif %}"
    style="background-color: {{ include.color }};">
    <div class="video-content-wrapper">
        <div class="video">
            <iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-description">
            <h2>{{ video.title }}</h2>
            <p>{{ video.text }}</p>
        </div>
    </div>
</section>
{% endif %}