@use "shared" as *;

.about-section {
    @include flex-center;
    background-color: $dark;
    color: $white;

    >.content-wrapper {
        justify-content: space-between;
        gap: 4.375rem;
        text-align: left;
    }

    .image-container img {
        max-width: 30rem;
        height: auto;
    }
}

.about-section-text-content {
    font-family: $font-family;
    max-width: 45rem;
    @include flex-col(2.5rem);

    h1 {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $accent-alt;
        margin: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 2.125rem;
        color: $light;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $light;
        margin: 0;
    }
}

@include bp($bp-lg) {
    .about-section>.content-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .about-section .image-container img {
        max-width: 66%;
    }
}