@use "shared" as *;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main>section {
    scroll-snap-align: start;
    padding: $section-padding;
    min-height: 100vh;
}

section {
    @include flex-center;

    >.content-wrapper {
        max-width: $max-width;
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: row;
        text-align: center;
        gap: 1.25rem;
    }
}

.header-space {
    padding-top: calc(#{$section-padding} + #{$header-height}) !important;
}

@include bp($bp-section) {

    html,
    body {
        scroll-snap-type: none;
    }
}