@use "shared" as *;

.contacts-section {
    background-image: url("/assets/images/backgrounds/top-left-blocks.svg");
    background-position: left left;
    background-repeat: no-repeat;
    background-size: auto;
    @include section-base;
    background-color: $light;
    color: $dark;

    >.content-wrapper {
        @include content-wrapper-col;
        text-align: left;
    }
}

.contacts-text-content {
    text-align: center;

    h2 {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 2.625rem;
        margin: 0;
    }
}

.contacts-container {
    width: 100%;
    @include flex-row(3.125rem);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-column {
    @include flex-col(1.25rem);
    max-width: 28.75rem;

    p {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.75rem;
        white-space: pre-line;
    }
}

.contacts-list {
    @include flex-col(0.625rem);
}

.contacts-item {
    @include flex-row(0.625rem);
    align-items: center;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;

    a {
        color: $dark;
    }
}

.contacts-form {
    max-width: 50rem;
    width: 100%;
    @include card-gradient-light;
    padding: 3.125rem;
    @include flex-col(1.25rem);

    h3 {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 2.125rem;
        margin: 0;
    }

    * input,
    * textarea,
    * select {
        border-radius: $border-radius-input;
        background-color: $light;
        border: solid;
        border-color: $dark;
        color: $dark;
        border-width: 0.0625rem;
        padding: 0.3125rem 1.125rem;
        font-family: $font-family;
        font-weight: 500;
        font-size: 1rem;
        line-height: 2rem;
    }

    button {
        background-color: $dark;
        border-radius: $border-radius-pill;
        text-align: center;
        max-width: 12.5rem;
        width: 100%;
        color: $accent;
        font-weight: 500;
        font-size: 1rem;
        line-height: 2rem;
        padding: 0.375rem 0;
        border: none;
    }
}

.contacts-form-name {
    @include flex-row(1.25rem);
    flex-wrap: wrap;

    input {
        width: 100%;
    }
}

.contacts-form-email input {
    width: 100%;
}

.contacts-form-subject select {
    cursor: pointer;
    width: 100%;
    appearance: none;
    background-image: url("/assets/images/icons/down-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: right 1.25rem top 50%;
    background-size: 0.65rem auto;
}

.contacts-form-message textarea {
    width: 100%;
    height: 15.625rem;
    resize: vertical;
    padding-top: 0.625rem;
}

.contacts-form-submit {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
}

.contacts-form-terms {
    @include flex-row(0.5rem);
    align-items: center;

    >label {
        font-weight: 500;
        font-size: 1rem;
        line-height: 2rem;
    }

    a {
        color: inherit;
    }
}

@include bp($bp-contacts) {
    .contacts-container {
        text-align: center;
    }

    .contacts-list {
        align-items: center;
    }

    .contacts-form button {
        align-self: center;
    }
}