@use "shared" as *;

.demo-section {
    @include flex-center;
    background-color: $dark;
    color: $white;

    >.content-wrapper {
        position: relative;
        min-height: 70vh;
        border-radius: $border-radius-card;
        box-shadow: $glow-sm $accent-glow;
        padding: 4rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("/assets/images/backgrounds/bottom-right-blocks.svg") right bottom no-repeat;
            background-size: contain;
            opacity: 0.3;
            z-index: 0;
        }
    }

    .image-container {
        background: $dark;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.demo-section-text-content {
    font-family: $font-family;
    @include flex-col(4rem);
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;

    h1 {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $accent;
        margin: 0;
    }

    h4 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2rem;
        color: $light;
        margin: 0;
        white-space: pre-line;
        width: 75%;
    }
}

@include bp($bp-sm) {
    .demo-section>.content-wrapper {
        padding: 2rem;
    }

    .demo-section-text-content {
        gap: 2rem;

        h4 {
            width: 100%;
        }
    }
}