@use "shared" as *;

.footer {
    background-color: $dark;
    color: $white;
    padding: 5rem 4rem 2.5rem;
    font-family: $font-family;
    min-height: auto;
    scroll-snap-align: end;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $max-width;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-left {
    @include flex-col;
    justify-content: space-between;
    max-width: 17.5rem;
    min-height: 14.375rem;

    p {
        margin: 0;
    }
}

.footer-right {
    @include flex-row(5rem);
    justify-content: space-between;
    min-width: 17.5rem;
}

.logo-section {
    @include flex-col(1.875rem);
    align-items: start;

    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        color: $text-muted;
    }
}

.footer-logo {
    max-width: 13.25rem;
    width: 100%;
    height: auto;
}

.footer-copyright-left {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: $text-muted;
}

.footer-copyright-bottom {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: $text-muted;
    display: none;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex-col(1.5rem);

    a {
        color: $white;
        text-decoration: none;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            color: #d1d6db;
        }
    }
}

.footer-extra {
    @include flex-col(1.25rem);
}

.newsletter h3,
.social-links h3 {
    margin: 0 0 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.footer-input-wrapper {
    position: relative;
    @include flex-row;
    align-items: center;
    width: 100%;
    min-width: 18.75rem;
    height: 2.625rem;
    background-color: $white;
    border-radius: $border-radius-input;

    input {
        width: 64%;
        padding: 0 1.125rem;
        border: 0;
        border-radius: $border-radius-input;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        color: $dark;

        &::placeholder {
            color: $placeholder;
        }
    }

    button {
        justify-content: center;
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        margin: 0;
        padding: 0 1rem;
        border: none;
        background-color: $dark;
        color: $accent;
        border-radius: $border-radius-pill;
        font-size: 1rem;
        cursor: pointer;
        width: 6.875rem;
        height: 2.125rem;
        font-weight: 500;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.social-links-list {
    @include flex-row(1.25rem);
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    filter: $filter-light;

    &:hover {
        filter: $filter-light-hover;
    }
}

@include bp($bp-tablet) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }

    .footer-left {
        align-items: center;
        text-align: center;
        min-height: 0;
    }

    .logo-section {
        align-items: center;
    }

    .footer-right {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        * {
            align-items: center;
        }
    }

    .footer-extra {
        margin-top: 2.25rem;
    }

    .newsletter h3 {
        text-align: center;
    }

    .social-links {
        * {
            text-align: center;
            align-items: center;
        }
    }

    .social-links-list {
        gap: 1.5625rem;
        justify-content: center;
    }

    .footer-copyright-left {
        display: none;
    }

    .footer-copyright-bottom {
        display: block;
    }
}