@use "sass:map";
@use "variables" as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col($gap: 0) {
    display: flex;
    flex-direction: column;

    @if $gap !=0 {
        gap: $gap;
    }
}

@mixin flex-row($gap: 0) {
    display: flex;
    flex-direction: row;

    @if $gap !=0 {
        gap: $gap;
    }
}

@mixin section-base {
    @include flex-center;
    font-family: $font-family;
}

@mixin content-wrapper-col($gap: 3rem) {
    flex-direction: column;
    gap: $gap;
}

@mixin section-heading {
    text-align: center;

    h2 {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 2.625rem;
        margin: 1.25rem 0;
    }

    p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.625rem;
        width: 100%;
        margin: 0 auto;
    }
}

@mixin card-gradient-light {
    background: linear-gradient(to bottom, $white, $light);
    border-radius: $border-radius-card;
}

@mixin card-gradient-dark {
    background: linear-gradient(to bottom, $dark-alt, $dark);
    border-radius: $border-radius-card;
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark;
        border-radius: 1rem;
        border: 0;
    }
}

// Responsive
@mixin bp($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin bp-height($size) {
    @media (max-height: $size) {
        @content;
    }
}