html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*============================ HEADER ============================*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 29px;
    position: fixed;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    background: #180D5B;
    border-bottom: 1px solid #EFF2F5;
}

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 70px;
}

.logo {
    width: 34.55px;
    height: 40px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 22px;
}

.header-nav .button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #EFF2F5;
    text-decoration: none;
}

.header-nav .button:hover {
    color: #d1d6db;
}

/*============================ HERO SECTION ============================*/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    height: 1080px;
    padding: 0 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 20px;
}

.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #88FFF2;
    margin: 0;
}

.text-content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #EFF2F5;
    margin: 0;
}

.text-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #EFF2F5;
}

.cta-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 24px;
    gap: 20px;
    background: #88FFF3;
    -webkit-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    -moz-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    border-radius: 40px;
    width: 320px;
    height: 60px;
    text-decoration: none;
    margin-top: 100px;
}

.cta-button span {
    margin: 0 auto;
    width: 219px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #180D5B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cta-button img {
    filter: invert(72%) sepia(77%) saturate(203%) hue-rotate(120deg) brightness(108%) contrast(104%);
}

.cta-button-img-container {
    width: 48px;
    height: 48px;
    background-color: #180D5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cta-button:hover {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(136, 255, 243, 0.33);
    -moz-box-shadow: 0px 0px 30px 10px rgba(136, 255, 243, 0.33);
    box-shadow: 0px 0px 30px 10px rgba(136, 255, 243, 0.33);
}

.image-container {
    background: #180D5B;
}

.image-container img {
    max-width: 100%;
    height: auto;
}