html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*============================ HEADER ============================*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.8125rem;
    height: 4.375rem;
    background: #180D5B;
    border-bottom: 0.0625rem solid #EFF2F5;
}

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90rem;
    height: 4.375rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    height: 1.375rem;
}

.header-nav .button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #EFF2F5;
    text-decoration: none;
}

.header-nav .button:hover {
    color: #D1D6DB;
}

/*============================ FOOTER ============================*/

.footer {
    background-color: #180D5B;
    color: #FFFFFF;
    padding: 5rem 1.25rem 2.5rem 1.25rem;
    font-family: 'Inter', sans-serif;
    min-height: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 17.5rem;
    min-height: 14.375rem;
}

.footer-left p {
    margin: 0;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17.5rem;
    gap: 5rem;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.875rem;
}

.footer-logo {
    max-width: 13.25rem;
    width: 100%;
    height: auto;
}

.logo-section p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #EFF2F5B3;
}

.footer-copyright-left {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: #EFF2F5B3;
}

.footer-copyright-bottom {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: #EFF2F5B3;
    display: none;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

.footer-links a:hover {
    color: #D1D6DB;
}

.footer-extra {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.newsletter h3,
.social-links h3 {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 600;
}

.footer-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 18.75rem;
    height: 2.625rem;
    padding: 0;
    background-color: white;
    border-radius: 1.625rem;
}

.footer-input-wrapper input {
    width: 64%;
    padding: 0 1.125rem;
    border: 0;
    border-radius: 1.625rem;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #180D5B;
    box-sizing: border-box;
}

.footer-input-wrapper input::placeholder {
    color: #180D5B33;
}

.footer-input-wrapper button {
    justify-content: center;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0;
    margin: 0;
    padding: 0 1rem;
    border: none;
    background-color: #180D5B;
    color: #88FFF3;
    border-radius: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 6.875rem;
    height: 2.125rem;
    font-weight: 500;
}

.footer-input-wrapper button:hover {
    background-color: #0056b3;
}

.social-links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.25rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(237%) hue-rotate(177deg) brightness(98%) contrast(96%);
}

.social-links img:hover {
    filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(1002%) hue-rotate(181deg) brightness(89%) contrast(93%);
}

@media (min-width: 1440px) {
    .footer {
        height: 21.875rem;
    }
}

@media (max-width: 1000px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }

    .footer-left {
        align-items: center;
        text-align: center;
        min-height: 0;
    }

    .logo-section {
        align-items: center;
    }

    .footer-right {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-right * {
        align-items: center;
    }

    .footer-extra {
        margin-top: 2.25rem;
    }

    .newsletter h3 {
        text-align: center;
    }

    .social-links * {
        text-align: center;
        align-items: center;
    }

    .social-links-list {
        gap: 1.5625rem;
        justify-content: center;
    }

    .footer-copyright-left {
        display: none;
    }

    .footer-copyright-bottom {
        display: block;
    }
}

/*============================ HERO SECTION ============================*/

@media (max-width: 1440px) {
    .footer {
        min-height: auto;
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    height: calc(100vh - 4.375rem);
    padding: 0 1.25rem;
}

.hero-section .hero-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    gap: 1.25rem;
}

.hero-section .hero-section-text-content {
    max-width: 37.5rem;
}

.hero-section .hero-section-text-content h1 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #88FFF2;
    margin: 0;
}

.hero-section .hero-section-text-content h2 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #EFF2F5;
    margin: 0;
}

.changing-subtitle {
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    overflow: hidden;
    position: relative;
}

.changing-subtitle span {
    display: block;
    opacity: 0;
    animation: changeSubtitle 12s infinite;
    position: absolute;
    width: 100%;
    text-align: left;
}

.changing-subtitle span:nth-child(1) {
    animation-delay: 0s;
}

.changing-subtitle span:nth-child(2) {
    animation-delay: 4s;
}

.changing-subtitle span:nth-child(3) {
    animation-delay: 8s;
}

@keyframes changeSubtitle {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    4% {
        opacity: 1;
        transform: translateY(0);
    }

    29% {
        opacity: 1;
        transform: translateY(0);
    }

    33% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.hero-section .hero-section-text-content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #EFF2F5;
}

.hero-section .cta-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.375rem 0 1.5rem;
    gap: 1.25rem;
    background: #88FFF3;
    box-shadow: 0px 0px 1.875rem 0.375rem rgba(136, 255, 243, 0.33);
    border-radius: 2.5rem;
    width: 20rem;
    height: 3.75rem;
    text-decoration: none;
    margin-top: 6.25rem;
    transition: box-shadow 0.2s ease;
}

.hero-section .cta-button span {
    margin: 0 auto;
    width: 13.6875rem;
    height: 0.9375rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #180D5B;
}

.hero-section .cta-button img {
    filter: invert(72%) sepia(77%) saturate(203%) hue-rotate(120deg) brightness(108%) contrast(104%);
}

.hero-section .cta-button-img-container {
    width: 3rem;
    height: 3rem;
    background-color: #180D5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-section .cta-button:hover {
    box-shadow: 0px 0px 1.875rem 0.9375rem rgba(136, 255, 243, 0.33);
}

.hero-section .image-container {
    background: #180D5B;
}

.hero-section .image-container img {
    max-width: 100%;
    height: auto;
}

/*============================ PILLARS SECTION ============================*/

.pillars-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    height: 100vh;
    padding: 0 20px;
}

.pillars-section .cta-button {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 24px;
    gap: 20px;
    background: #180D5B;
    border-radius: 40px;
    width: 320px;
    height: 60px;
    text-decoration: none;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 30px 6px rgba(24, 13, 91, 0.33);
    -moz-box-shadow: 0px 0px 30px 6px rgba(24, 13, 91, 0.33);
    box-shadow: 0px 0px 30px 6px rgba(24, 13, 91, 0.33);
    transition: box-shadow 0.2s ease;
}

.pillars-section .cta-button span {
    margin: 0 auto;
    width: 219px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #88FFF3;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pillars-section .cta-button img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(75%) saturate(2865%) hue-rotate(242deg) brightness(82%) contrast(111%);
}

.pillars-section .cta-button-img-container {
    width: 48px;
    height: 48px;
    background-color: #88FFF3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pillars-section .cta-button:hover {
    -webkit-box-shadow: 0px 0px 30px 15px rgba(24, 13, 91, 0.33);
    -moz-box-shadow: 0px 0px 30px 15px rgba(24, 13, 91, 0.33);
    box-shadow: 0px 0px 30px 15px rgba(24, 13, 91, 0.33);
}

.pillars-section .cta-button.scrolled {
    position: fixed;
    top: 50px;
    right: 50px;
}

.pillars-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 80px;
}

.pillars-text-content {
    text-align: center;
}

.pillars-text-content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #180D5B;
    margin: 20px;
}

.pillars-text-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #180D5B;
    margin: 0 auto;
    width: 66%;
}

.pillars-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.pillar {
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 32px;
    padding: 40px 40px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Inter';
    font-style: normal;
}

.pillar img {
    margin: 0 0 20px 0;
}

.pillar h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    white-space: pre-line;
}

.pillar p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.pillar h3,
.pillar p {
    align-self: flex-start;
    margin: 0;
    color: #180D5B;
}

/*============================ BENEFITS SECTION ============================*/

.benefits-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #180D5B;
    padding: 0 20px;
    height: 100vh;
}

.benefits-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.benefits-text-content {
    text-align: center;
}

.benefits-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.benefits-text-content h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.carousel-dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.carousel-dots .dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots .dot.active {
    background-color: #180D5B;
}

.carousel-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.carousel-item {
    cursor: pointer;
    border-radius: 32px;
    padding: 0 28px;
    position: relative;
    transition: padding 0.2s ease;
}

.carousel-item.active {
    background: linear-gradient(to right, #EFF2F5, #FFFFFF);
    padding: 28px;
}

.carousel-item h3,
.carousel-item h4,
.carousel-item p {
    margin: 0;
    opacity: 0.5;
    transition: opacity 1s ease;
}

.carousel-item p {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.carousel-item.active h3,
.carousel-item.active h4,
.carousel-item.active p {
    opacity: 1;
}

.carousel-item.active p {
    position: static;
    visibility: visible;
}

.carousel-item h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 5px;
}

.carousel-item h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 15px;
}

.carousel-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

/*============================ PIPELINE SECTION ============================*/

.pipeline-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    padding: 0 20px;
    height: 100vh;
}

.pipeline-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.pipeline-text-content {
    text-align: center;
}

.pipeline-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.pipeline-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    margin: 0 auto;
}

.pipeline-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    padding: 0 20px;
    height: 100vh;
}

.pipeline-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.pipeline-text-content {
    text-align: center;
}

.pipeline-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.pipeline-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
    margin: 0 auto;
}

.pipeline-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-pipeline-image img {
    width: max-content;
    padding: 111px 0 0 157px;
    margin: 0 0 63px 0;
}

.pipeline-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-image {
    position: absolute;
    cursor: pointer;
}

.overlay-image img {
    padding: 30px;
    transition: filter 0.3s ease;
}

.overlay-image:hover img {
    filter: drop-shadow(0px 0px 20px rgba(136, 255, 243, 0.4));
}

.overlay-image[data-top] {
    top: calc(attr(data-top));
}

.overlay-image[data-left] {
    left: calc(attr(data-left));
}

.description-bubble {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(100%);
    background: rgba(12, 3, 65, 0.9);
    padding: 30px 18px;
    border-radius: 10px;
    border: 1px solid #88FFF3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 320px;
    z-index: 20;
}

.bubble-number {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #88FFF3;
}

.bubble-title {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.bubble-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    white-space: pre-line;
}

.overlay-image:hover .description-bubble {
    visibility: visible;
    opacity: 1;
}

.pipeline-bottom-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*============================ RESOURCES SECTION ============================*/

.resources-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 0 20px;
    height: 100vh;
}

.resources-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.resources-text-content {
    text-align: center;
}

.resources-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.resources-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 66%;
    margin: 0 auto;
}

.resources-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.resource-column {
    font-family: 'Inter';
    font-style: normal;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 32px;
    padding: 38px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.resource-column>img {
    max-width: 5rem;
    width: 100%;
    height: auto;
}

.resource-column h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #180D5B;
    margin: 0;
}

.resource-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resource-link h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #180D5B;
    margin: 0;
    display: inline;
}

.resource-link img {
    margin: 0 0 0 5px;
    display: inline;
}

/*============================ FAQ SECTION ============================*/

.faq-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 0 20px;
    height: 100vh;
}

.faq-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.faq-text-content {
    text-align: center;
}

.faq-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.faq-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
    margin: 0 auto;
}

.faq-container {
    width: 100%;
    padding: 50px;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 2rem;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
}

.faq-answer {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.faq-answer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.faq-item hr {
    margin: 20px 0 0 0;
    background-color: rgba(24, 13, 91, 0.3);
    height: 1px;
    border: none;
}

.faq-item.active .faq-answer {
    visibility: visible;
    position: relative;
    opacity: 1;
}

.faq-arrow {
    transition: transform 0.3s ease;
}

.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/*============================ ABOUT SECTION ============================*/

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    height: calc(100vh - 70px);
    padding: 0 20px;
}

.about-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 70px;
}

.about-section-text-content {
    font-family: 'Inter';
    font-style: normal;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-section-text-content h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #88FFF2;
    margin: 0;
}

.about-section-text-content h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #EFF2F5;
    margin: 0;
}

.about-section-text-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #EFF2F5;
    margin: 0;
}

.about-section .image-container img {
    max-width: 100%;
    height: auto;
}

/*============================ PARTNERSHIPS SECTION ============================*/

.partnerships-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    height: 100vh;
    padding: 0 20px;
}

.partnerships-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 80px;
}

.partnerships-text-content {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.partnerships-text-content h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin: 20px 0;
}

.partnerships-text-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    width: 100%;
}

.partnerships-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.partnership {
    background: linear-gradient(to bottom, #160C55, #180D5B);
    border-radius: 32px;
    padding: 60px 40px 60px 40px;
    text-align: left;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    font-family: 'Inter';
    font-style: normal;
}

.partnership img {
    margin: 0 0 20px 0;
}

.partnership h3,
.partnership p {
    margin: 0;
}

.partnership h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    white-space: pre-line;
}

.partnership p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.partnership a {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #88FFF3;
}

/*============================ NETWORK SECTION ============================*/

.network-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    height: 100vh;
    padding: 0 20px;
}

.network-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 70%;
    gap: 80px;
}

.network-text-content {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.network-text-content h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin: 20px 0;
}

.network-text-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    width: 100%;
}

.network-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.network-container img {
    margin: 38px;
}

.network-column {
    background: linear-gradient(to bottom, #160C55, #180D5B);
    border-radius: 32px;
    padding: 60px 40px 60px 40px;
    text-align: left;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: 'Inter';
    font-style: normal;
}

.network-column h3,
.network-column p,
.network-column a {
    margin: 0;
}

.network-column h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #88FFF3;
}

.network-column p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.network-column a {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    background-color: #88FFF3;
    padding: 10px 0;
    border-radius: 40px;
    min-width: 175px;
    text-align: center;
    text-decoration: none;
    color: #180D5B;
    margin: 10px 0 0 0;
}

/*============================ CONTACTS SECTION ============================*/

.contacts-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 0 20px;
    height: 100vh;
}

.contacts-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.contacts-text-content {
    text-align: center;
}

.contacts-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.contacts-container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.contacts-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 460px;
}

.contacts-column p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    white-space: pre-line;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.contacts-item a {
    color: #180D5B;
}

.contacts-form {
    min-width: 800px;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 32px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-form h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin: 0;
}

.contacts-form * input,
.contacts-form * textarea,
.contacts-form * select {
    border-radius: 26px;
    background-color: #EFF2F5;
    border: solid;
    border-color: #180D5B;
    color: #180D5B;
    border-width: 1px;
    padding: 5px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}

.contacts-form-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts-form-name input {
    flex: 1;
}

.contacts-form-email input {
    width: 100%;
}

.contacts-form-subject select {
    width: 100%;
    appearance: none;
    background-image: url("/assets/images/icons/down-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: right 1.25rem top 50%;
    background-size: 0.65rem auto;
    font-family: 'Inter';
}

.contacts-form-message textarea {
    width: 100%;
    height: 250px;
    resize: vertical;
    padding-top: 10px;
}

.contacts-form button {
    background-color: #180D5B;
    border-radius: 40px;
    text-align: center;
    max-width: 200px;
    color: #88FFF3;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    padding: 6px 0;
    border: none;
}

/*============================ DEMO SECTION ============================*/

.demo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    height: calc(100vh - 70px);
    padding: 0 20px;
}

.demo-section-content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 80%;
    background-image: url('/assets/images/backgrounds/bottom-right-blocks.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 32px;
    -webkit-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    -moz-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
}

.demo-section-text-content {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.demo-section-text-content h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #88FFF3;
    margin: 0;
}

.demo-section-text-content h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #EFF2F5;
    margin: 0;
    white-space: pre-line;
    max-width: 600px;
}

.demo-section .cta-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 24px;
    gap: 20px;
    background: #88FFF3;
    -webkit-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    -moz-box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    box-shadow: 0px 0px 30px 6px rgba(136, 255, 243, 0.33);
    border-radius: 40px;
    width: 320px;
    height: 60px;
    text-decoration: none;
    transition: box-shadow 0.2s ease;
    margin: 50px 0 0 0;
}

.demo-section .cta-button span {
    margin: 0 auto;
    width: 219px;
    height: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #180D5B;
    display: flex;
    align-items: center;
}

.demo-section .cta-button img {
    filter: invert(72%) sepia(77%) saturate(203%) hue-rotate(120deg) brightness(108%) contrast(104%);
}

.demo-section .cta-button-img-container {
    width: 48px;
    height: 48px;
    background-color: #180D5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.demo-section .cta-button:hover {
    -webkit-box-shadow: 0px 0px 30px 15px rgba(136, 255, 243, 0.33);
    -moz-box-shadow: 0px 0px 30px 15px rgba(136, 255, 243, 0.33);
    box-shadow: 0px 0px 30px 15px rgba(136, 255, 243, 0.33);
}

.demo-section .image-container {
    background: #180D5B;
}

.demo-section .image-container img {
    max-width: 100%;
    height: auto;
}

/*============================ COMING SOON SECTION ============================*/

.coming-soon-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    color: #180D5B;
    padding: 0 20px;
    height: 100vh;
}

.coming-soon-content-wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.coming-soon-content-wrapper h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    margin: 20px 0;
}

.coming-soon-content-wrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 60%;
    margin: 0 auto;
}

/*============================ ROADMAP SECTION ============================*/

.roadmap-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #180D5B;
    padding: 0 1.25rem;
    height: 100vh;
}

.roadmap-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.roadmap-top-buttons {
    font-weight: 100;
    font-size: 1.5rem;
}

.roadmap-button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    padding: 0.625rem 2rem;
    opacity: 25%;
}

.roadmap-button:hover {
    opacity: 50%;
}

.roadmap-button.active {
    opacity: 100%;
}

.roadmap-text-content {
    text-align: center;
}

.roadmap-text-content h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin: 20px 0;
}

.roadmap-text-content h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 66%;
    margin: 0 auto;
}

.roadmap-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.roadmap-container.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    justify-content: center;
}

.roadmap-container .section-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 29rem;
    gap: 2.25rem;
    padding: 0 1.125rem;
    margin-top: 10rem;
}

.roadmap-container .section-column-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 17rem;
    position: absolute;
    top: -9rem;
}

.roadmap-container .section-column-image img {
    width: 16.3125rem;
    height: auto;
}

.roadmap-container .section-column * {
    margin: 0;
}

.roadmap-container .section-column h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.roadmap-container .section-column h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

.roadmap-container .section-column p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.roadmap-row-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 59.5rem;
}

.roadmap-row {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: start;
    width: 100%;
    height: 30rem;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
}

.roadmap-column {
    border-radius: 0.625rem;
    padding: 2.5rem 1.125rem;
    width: 29rem;
    height: 29rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    scroll-snap-align: start;
}

.roadmap-bottom-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
}

.roadmap-bottom-buttons * img {
    width: 1.125rem;
    height: auto;
}

.roadmap-bottom-buttons button:first-child img {
    transform: rotate(180deg);
}

.roadmap-bottom-buttons * {
    background: none;
    border: none;
    cursor: pointer;
}

.roadmap-bottom-buttons button:disabled {
    opacity: 25%;
    cursor: default;
}

.roadmap-bottom-buttons button:disabled img {
    pointer-events: none;
}

.roadmap-column * {
    margin: 0;
}

.roadmap-column span {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.roadmap-column h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.roadmap-column p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.roadmap-container:nth-child(3n) .roadmap-column {
    background-color: #180D5B;
}

.roadmap-container:nth-child(3n) .roadmap-column span {
    color: #88FFF3;
}

.roadmap-container:nth-child(3n) .roadmap-column h4 {
    color: #FFFFFF;
}

.roadmap-container:nth-child(3n) .roadmap-column p {
    color: #FFFFFF;
}

.roadmap-container:nth-child(3n+1) .roadmap-column {
    background-color: #88FFF3;
}

.roadmap-container:nth-child(3n+1) .roadmap-column span {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+1) .roadmap-column h4 {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+1) .roadmap-column p {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+2) .roadmap-column {
    background-color: #EFF2F5;
}

.roadmap-container:nth-child(3n+2) .roadmap-column span {
    color: #42E8E0;
}

.roadmap-container:nth-child(3n+2) .roadmap-column h4 {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+2) .roadmap-column p {
    color: #180D5B;
}