html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-size: clamp(14px, 0.5vw, 16px);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main>section {
    scroll-snap-align: start;
}

@media (max-width: 62.5rem) {

    html,
    body {
        scroll-snap-type: none;
    }
}

/*============================ HEADER ============================*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.8125rem;
    height: 4.375rem;
    background: #180D5B;
    border-bottom: 0.0625rem solid #EFF2F5;
    position: absolute;
    width: 100%;
}

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90rem;
    height: 4.375rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    height: 1.375rem;
}

.header-nav .button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #EFF2F5;
    text-decoration: none;
}

.header-nav .button:hover {
    color: #D1D6DB;
}

.header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .logo img {
    height: 2.8rem;
    width: auto;
}

/*============================ FOOTER ============================*/

.footer {
    background-color: #180D5B;
    color: #FFFFFF;
    padding: 5rem 1.25rem 2.5rem 1.25rem;
    font-family: 'Inter', sans-serif;
    min-height: auto;
    scroll-snap-align: end;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 17.5rem;
    min-height: 14.375rem;
}

.footer-left p {
    margin: 0;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17.5rem;
    gap: 5rem;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.875rem;
}

.footer-logo {
    max-width: 13.25rem;
    width: 100%;
    height: auto;
}

.logo-section p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #EFF2F5B3;
}

.footer-copyright-left {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: #EFF2F5B3;
}

.footer-copyright-bottom {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: #EFF2F5B3;
    display: none;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

.footer-links a:hover {
    color: #D1D6DB;
}

.footer-extra {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.newsletter h3,
.social-links h3 {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 600;
}

.footer-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 18.75rem;
    height: 2.625rem;
    padding: 0;
    background-color: white;
    border-radius: 1.625rem;
}

.footer-input-wrapper input {
    width: 64%;
    padding: 0 1.125rem;
    border: 0;
    border-radius: 1.625rem;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #180D5B;
    box-sizing: border-box;
}

.footer-input-wrapper input::placeholder {
    color: #180D5B33;
}

.footer-input-wrapper button {
    justify-content: center;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0;
    margin: 0;
    padding: 0 1rem;
    border: none;
    background-color: #180D5B;
    color: #88FFF3;
    border-radius: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 6.875rem;
    height: 2.125rem;
    font-weight: 500;
}

.footer-input-wrapper button:hover {
    background-color: #0056b3;
}

.social-links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.25rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(237%) hue-rotate(177deg) brightness(98%) contrast(96%);
}

.social-links img:hover {
    filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(1002%) hue-rotate(181deg) brightness(89%) contrast(93%);
}

@media (min-width: 1440px) {
    .footer {
        height: 21.875rem;
    }
}

@media (max-width: 1440px) {
    .footer {
        min-height: auto;
    }
}

@media (max-width: 1000px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }

    .footer-left {
        align-items: center;
        text-align: center;
        min-height: 0;
    }

    .logo-section {
        align-items: center;
    }

    .footer-right {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-right * {
        align-items: center;
    }

    .footer-extra {
        margin-top: 2.25rem;
    }

    .newsletter h3 {
        text-align: center;
    }

    .social-links * {
        text-align: center;
        align-items: center;
    }

    .social-links-list {
        gap: 1.5625rem;
        justify-content: center;
    }

    .footer-copyright-left {
        display: none;
    }

    .footer-copyright-bottom {
        display: block;
    }
}

/*============================ HERO SECTION ============================*/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    min-height: 100vh;
    padding: 4.375rem 1.25rem 0 1.25rem;
}

.hero-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    gap: 1.25rem;
}

.hero-section-text-content {
    max-width: 37.5rem;
}

.hero-section-text-content h1 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #88FFF2;
    margin: 0;
}

.hero-section-text-content h2 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #EFF2F5;
    margin: 0;
}

.changing-subtitle {
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    overflow: hidden;
    position: relative;
}

.changing-subtitle span {
    display: block;
    opacity: 0;
    animation: changeSubtitle 12s infinite;
    position: absolute;
    width: 100%;
    text-align: left;
}

.changing-subtitle span:nth-child(1) {
    animation-delay: 0s;
}

.changing-subtitle span:nth-child(2) {
    animation-delay: 4s;
}

.changing-subtitle span:nth-child(3) {
    animation-delay: 8s;
}

@keyframes changeSubtitle {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    4% {
        opacity: 1;
        transform: translateY(0);
    }

    29% {
        opacity: 1;
        transform: translateY(0);
    }

    33% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.hero-section-text-content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #EFF2F5;
    padding: 1rem 0;
}

.hero-section .image-container {
    background: #180D5B;
}

.hero-section .image-container img {
    max-width: 100%;
    height: auto;
}

.hero-mobile-button {
    display: none;
}

@media (max-width: 62.5rem) {
    .hero-section-content-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 4rem 1rem;
    }

    .hero-section .image-container img {
        max-width: 66%;
        height: auto;
    }

    .changing-subtitle span {
        text-align: center;
    }

    .hero-section-text-content .cta-button {
        display: none;
    }

    .hero-mobile-button {
        display: block;
    }
}

/*============================ CTA BUTTON ============================*/

.cta-button {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 0.375rem 0 1.5rem;
    gap: 1.5rem;
    background: #88FFF3;
    box-shadow: 0 0 1.875rem 0.375rem rgba(136, 255, 243, 0.33);
    border-radius: 2.5rem;
    height: 3.75rem;
    text-decoration: none;
    transition: box-shadow 0.2s ease;
}

.cta-button span {
    display: inline-block;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #180D5B;
    margin: 0;
    animation: inherit;
}

.cta-button img {
    filter: invert(72%) sepia(77%) saturate(203%) hue-rotate(120deg) brightness(108%) contrast(104%);
}

.cta-button-img-container {
    width: 3rem;
    height: 3rem;
    background-color: #180D5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cta-button:hover {
    box-shadow: 0 0 1.875rem 0.9375rem rgba(136, 255, 243, 0.33);
}

/*============================ PILLARS SECTION ============================*/

.pillars-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    min-height: 100vh;
    padding: 3rem 1.25rem;
}

.pillars-section .cta-button {
    position: absolute;
    top: 3.125rem;
    right: 3.125rem;
    background: #180D5B;
    z-index: 10;
    box-shadow: 0 0 1.875rem 0.375rem rgba(24, 13, 91, 0.33);
}

.pillars-section .cta-button span {
    color: #88FFF3;
}

.pillars-section .cta-button img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(75%) saturate(2865%) hue-rotate(242deg) brightness(82%) contrast(111%);
}

.pillars-section .cta-button-img-container {
    background-color: #88FFF3;
}

.pillars-section .cta-button:hover {
    box-shadow: 0 0 1.875rem 0.9375rem rgba(24, 13, 91, 0.33);
}

.pillars-section .cta-button.scrolled {
    position: fixed;
    top: 3.125rem;
    right: 3.125rem;
}

.pillars-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    gap: 3rem;
}

.pillars-text-content {
    text-align: center;
}

.pillars-text-content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: #180D5B;
    margin: 1.25rem;
}

.pillars-text-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #180D5B;
    margin: 0 auto;
    width: 66%;
}

.pillars-container {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.pillar {
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 2rem;
    padding: 2.5rem;
    text-align: left;
    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    font-family: 'Inter';
    font-style: normal;
}

.pillar img {
    margin: 0 0 1.25rem 0;
    width: 12.875rem;
    height: 16.9375rem;
}

.pillar h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    white-space: pre-line;
}

.pillar p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.pillar h3,
.pillar p {
    align-self: flex-start;
    margin: 0;
    color: #180D5B;
}

@media (max-width: 90rem) {
    .pillars-section .cta-button {
        display: none;
    }
}

/*============================ BENEFITS SECTION ============================*/

.benefits-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.benefits-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.benefits-text-content {
    text-align: center;
}

.benefits-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem auto;
    width: 66%;
}

.benefits-text-content h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    width: 80%;
    margin: 0 auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
}

.carousel-dots {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-right: 1.25rem;
}

.carousel-dots .dot {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots .dot.active {
    background-color: #180D5B;
}

.carousel-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image img {
    width: 31rem;
    height: auto;
}

.carousel-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.carousel-item {
    cursor: pointer;
    border-radius: 2rem;
    padding: 0 1.75rem;
    position: relative;
    transition: padding 0.2s ease;
}

.carousel-item.active {
    background: linear-gradient(to right, #EFF2F5, #FFFFFF);
    padding: 1.75rem;
}

.carousel-item h3,
.carousel-item h4,
.carousel-item p {
    margin: 0;
    opacity: 0.5;
    transition: opacity 1s ease;
}

.carousel-item p {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.carousel-item.active h3,
.carousel-item.active h4,
.carousel-item.active p {
    opacity: 1;
}

.carousel-item.active p {
    position: static;
    visibility: visible;
}

.carousel-item h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    margin-bottom: 0.3125rem;
}

.carousel-item h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0.9375rem;
}

.carousel-item p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

@media (max-width: 90rem) {
    .carousel {
        flex-direction: column;
        gap: 0;
    }

    .carousel-items {
        align-items: center;
    }

    .carousel-item {
        display: none;
        text-align: center;
    }

    .carousel-item.active {
        display: block;
        background: transparent;
        padding: 0;
        width: 66%;
    }

    .carousel-dots {
        flex-direction: row;
        gap: 0.625rem;
        margin-right: 0;
    }

    .carousel-image img {
        width: 90%;
    }
}

/*============================ PIPELINE SECTION ============================*/

.pipeline-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.pipeline-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.pipeline-text-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pipeline-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem auto;
    width: 66%;
}

.pipeline-text-content p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 80%;
    margin: 0 auto;
}

.pipeline-text-content {
    text-align: center;
}

.pipeline-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.pipeline-text-content p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    margin: 0 auto;
}

/* PIPELINE (CAN'T BE RELATIVE) */

.pipeline-container {
    position: relative;
    height: 100%;
    width: auto;
}

.main-pipeline-image .desktop {
    width: max-content;
    padding: 111px 0 0 162px;
    margin: 0 0 63px 0;
}

.main-pipeline-image .mobile {
    display: none;
}

.pipeline-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-image {
    position: absolute;
    cursor: pointer;
}

.overlay-image img {
    padding: 30px;
    transition: filter 0.3s ease;
}

.overlay-image:hover img {
    filter: drop-shadow(0 0 1.25rem rgba(136, 255, 243, 0.4));
}

.overlay-image[data-top] {
    top: calc(attr(data-top));
}

.overlay-image[data-left] {
    left: calc(attr(data-left));
}

.description-bubble {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(100%);
    background: rgba(12, 3, 65, 0.9);
    padding: 1.875rem 1.125rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #88FFF3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 20rem;
    z-index: 20;
}

.bubble-number {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: #88FFF3;
}

.bubble-title {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.bubble-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    white-space: pre-line;
}

.overlay-image:hover .description-bubble {
    visibility: visible;
    opacity: 1;
}

.pipeline-descriptions {
    display: none;
    width: 100%;
    text-align: center;
}

.pipeline-descriptions .description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 19.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pipeline-descriptions .description span {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.pipeline-descriptions .description p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    white-space: pre-line;
}

.pipeline-bottom-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 90rem) {
    .main-pipeline-image .desktop {
        display: none;
    }

    .main-pipeline-image .mobile {
        display: block;
        position: relative;
    }

    .pipeline-overlays {
        display: none;
    }

    .pipeline-descriptions {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*============================ RESOURCES SECTION ============================*/

.resources-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.resources-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.resources-text-content {
    text-align: center;
}

.resources-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.resources-text-content p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 66%;
    margin: 0 auto;
}

.resources-container {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.resource-column {
    font-family: 'Inter';
    font-style: normal;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 2rem;
    padding: 2.375rem;
    text-align: left;
    max-width: 29rem;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
}

.resource-column>img {
    max-width: 5rem;
    width: 100%;
    height: auto;
}

.resource-column h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    color: #180D5B;
    margin: 0;
}

.resource-items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow-y: auto;
    padding-right: 0.5rem;
    margin-right: -0.5rem;
}

.resource-items::-webkit-scrollbar {
    width: 0.4rem;
}

.resource-items::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 1rem;
}

.resource-items::-webkit-scrollbar-thumb {
    background-color: #180D5B;
    border-radius: 1rem;
    border: 0;
}

.resource-link h4 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #180D5B;
    margin: 0;
    display: inline;
}

.resource-link img {
    margin: 0 0 0 0.3125rem;
    display: inline;
    width: auto;
    height: 0.75rem;
}

.resource-column p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #180D5B;
    margin: 0;
}

@media (max-width: 62.5rem) {
    .resources-container {
        gap: 1rem;
    }
}

/*============================ FAQ SECTION ============================*/

.faq-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.faq-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.faq-text-content {
    text-align: center;
}

.faq-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.faq-text-content p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    margin: 0 auto;
}

.faq-container {
    width: 100%;
    padding: 3.125rem;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 2rem;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.faq-question h3 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2.125rem;
}

.faq-answer {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease;
    max-height: 15rem;
    overflow-y: auto;
    padding-right: 1.5rem;
    margin: 0.8rem 0 0 0;
}

.faq-answer::-webkit-scrollbar {
    width: 0.4rem;
}

.faq-answer::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 1rem;
}

.faq-answer::-webkit-scrollbar-thumb {
    background-color: #180D5B;
    border-radius: 1rem;
    border: 0;
}

.faq-answer p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: justify;
    white-space: pre-line;
}

.faq-item hr {
    margin: 1.25rem 0 0 0;
    background-color: rgba(24, 13, 91, 0.3);
    height: 0.0625rem;
    border: none;
}

.faq-item.active .faq-answer {
    visibility: visible;
    position: relative;
    opacity: 1;
}

.faq-arrow {
    transition: transform 0.3s ease;
}

.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/*============================ ABOUT SECTION ============================*/

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    min-height: 100vh;
    padding: 4.375rem 2rem 0 2rem;
}

.about-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    gap: 4.375rem;
}

.about-section-text-content {
    font-family: 'Inter';
    font-style: normal;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.about-section-text-content h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #88FFF2;
    margin: 0;
}

.about-section-text-content h2 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    color: #EFF2F5;
    margin: 0;
}

.about-section-text-content p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #EFF2F5;
    margin: 0;
}

.about-section .image-container img {
    max-width: 30rem;
    height: auto;
}

@media (max-width: 62.5rem) {
    .about-section-content-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 4rem 1rem;
        gap: 2rem;
    }

    .about-section .image-container img {
        max-width: 66%;
        height: auto;
    }
}

/*============================ PARTNERSHIPS SECTION ============================*/

.partnerships-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    min-height: 100vh;
    padding: calc(3rem + 4.375rem) 1.25rem 3rem 1.25rem;
}

.partnerships-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    gap: 3rem;
}

.partnerships-text-content {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.partnerships-text-content h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.partnerships-text-content p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 0 auto;
    width: 100%;
}

.partnerships-container {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
}

.partnership {
    background: linear-gradient(to bottom, #160C55, #180D5B);
    border-radius: 2rem;
    padding: 3.75rem 2.5rem 3.75rem 2.5rem;
    text-align: left;
    max-width: 43.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.9375rem;
    font-family: 'Inter';
    font-style: normal;
    color: #EFF2F5;
}

.partnership img {
    margin: 0 0 1.25rem 0;
    height: 3.125rem;
    width: auto;
}

.partnership h3,
.partnership p {
    margin: 0;
}

.partnership h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    white-space: pre-line;
}

.partnership p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.partnership a {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #88FFF3;
}

/*============================ NETWORK SECTION ============================*/

.network-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #EFF2F5;
    min-height: 100vh;
    padding: 3rem 1.25rem;
}

.network-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 70%;
    gap: 3rem;
}

.network-text-content {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.network-text-content h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.network-text-content p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 0 auto;
    width: 100%;
}

.network-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.network-container img {
    width: 24.0625rem;
    height: 24.125rem;
    /*filter: brightness(0) saturate(100%) invert(9%) sepia(85%) saturate(3415%) hue-rotate(247deg) brightness(73%) contrast(108%);*/
    filter: brightness(0) saturate(100%) invert(85%) sepia(49%) saturate(349%) hue-rotate(106deg) brightness(101%) contrast(102%);
    margin: 0 2rem 0 0;
}

.network-column {
    background: linear-gradient(to bottom, #160C55, #180D5B);
    border-radius: 2rem;
    padding: 3.75rem 2.5rem 3.75rem 2.5rem;
    text-align: left;
    width: 29rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    font-family: 'Inter';
    font-style: normal;
    color: #EFF2F5;
}

.network-column h3,
.network-column p,
.network-column a {
    margin: 0;
}

.network-column h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    color: #88FFF3;
}

.network-column p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.network-column a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    background-color: #88FFF3;
    padding: 0.625rem 0;
    border-radius: 2.5rem;
    min-width: 10.9375rem;
    text-align: center;
    text-decoration: none;
    color: #180D5B;
    margin: 0.625rem 0 0 0;
    box-shadow: 0 0 1.875rem 0.375rem rgba(136, 255, 243, 0.33);
    transition: box-shadow 0.2s ease;
}

.network-column a:hover {
    box-shadow: 0 0 1.875rem 0.9375rem rgba(136, 255, 243, 0.33);
}

@media (max-width: 90rem) {
    .network-container img {
        margin: 0;
    }

    .network-container {
        flex-wrap: wrap;
    }
}

/*============================ CONTACTS SECTION ============================*/

.contacts-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F5;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.contacts-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contacts-text-content {
    text-align: center;
}

.contacts-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 0;
}

.contacts-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-column {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 28.75rem;
}

.contacts-column p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    white-space: pre-line;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.contacts-item a {
    color: #180D5B;
}

.contacts-form {
    max-width: 50rem;
    width: 100%;
    background: linear-gradient(to bottom, #FFFFFF, #EFF2F5);
    border-radius: 2rem;
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contacts-form h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    margin: 0;
}

.contacts-form * input,
.contacts-form * textarea,
.contacts-form * select {
    border-radius: 1.625rem;
    background-color: #EFF2F5;
    border: solid;
    border-color: #180D5B;
    color: #180D5B;
    border-width: 0.0625rem;
    padding: 0.3125rem 1.125rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}

.contacts-form-name {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.contacts-form-name input {
    flex: 1;
}

.contacts-form-email input {
    width: 100%;
}

.contacts-form-subject select {
    cursor: pointer;
    width: 100%;
    appearance: none;
    background-image: url("/assets/images/icons/down-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: right 1.25rem top 50%;
    background-size: 0.65rem auto;
}

.contacts-form-message textarea {
    width: 100%;
    height: 15.625rem;
    resize: vertical;
    padding-top: 0.625rem;
}

.contacts-form button {
    background-color: #180D5B;
    border-radius: 2.5rem;
    text-align: center;
    max-width: 12.5rem;
    width: 100%;
    color: #88FFF3;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.375rem 0;
    border: none;
}

@media (max-width: 90rem) {
    .contacts-container {
        text-align: center;
    }

    .contacts-list {
        align-items: center;
    }

    .contacts-form button {
        align-self: center;
    }
}

/*============================ DEMO SECTION ============================*/

.demo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180D5B;
    color: #FFFFFF;
    min-height: 100vh;
    padding: 4.375rem 1.25rem 0 1.25rem;
}

.demo-section-content-wrapper {
    max-width: 90rem;
    width: 100%;
    height: 80vh;
    background-image: url('/assets/images/backgrounds/bottom-right-blocks.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 2rem;
    box-shadow: 0 0 1.875rem 0.375rem rgba(136, 255, 243, 0.33);
    padding: 2rem;
}

.demo-section-text-content {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.demo-section-text-content h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #88FFF3;
    margin: 0;
}

.demo-section-text-content h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #EFF2F5;
    margin: 0;
    white-space: pre-line;
    max-width: 37.5rem;
}

.demo-section .image-container {
    background: #180D5B;
}

.demo-section .image-container img {
    max-width: 100%;
    height: auto;
}

/*============================ COMING SOON SECTION ============================*/

.coming-soon-section {
    background-image: url('/assets/images/backgrounds/top-left-blocks.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.coming-soon-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
}

.coming-soon-content-wrapper h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.625rem;
    margin: 1.25rem 0;
}

.coming-soon-content-wrapper p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 60%;
    margin: 0 auto;
}

/*============================ ROADMAP SECTION ============================*/

.roadmap-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #180D5B;
    padding: 3rem 1.25rem;
    min-height: 100vh;
}

.roadmap-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.roadmap-top-buttons {
    font-weight: 100;
    font-size: 1.5rem;
}

.roadmap-button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.125rem;
    padding: 0.625rem 2rem;
    opacity: 25%;
}

.roadmap-button:hover {
    opacity: 50%;
}

.roadmap-button.active {
    opacity: 100%;
}

.roadmap-text-content {
    text-align: center;
}

.roadmap-text-content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin: 1.25rem auto;
    width: 66%;
}

.roadmap-text-content h4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 66%;
    margin: 0 auto;
}

.roadmap-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.roadmap-container.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    justify-content: center;
}

.roadmap-container .section-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 29rem;
    gap: 2.25rem;
    padding: 0 1.125rem;
    margin-top: 10rem;
}

.roadmap-container .section-column-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 17rem;
    position: absolute;
    top: -9rem;
}

.roadmap-container .section-column-image img {
    width: 16.3125rem;
    height: auto;
}

.roadmap-container .section-column * {
    margin: 0;
}

.roadmap-container .section-column h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.roadmap-container .section-column h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

.roadmap-container .section-column p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.roadmap-row-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 59.5rem;
}

.roadmap-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 30rem;
    gap: 1.5rem;

    /*
        This is required to hide scroll bar
        overflow-x: hidden breaks the effect on chrome
    */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.roadmap-row::-webkit-scrollbar {
    display: none;
}

.roadmap-column {
    border-radius: 0.625rem;
    padding: 2.5rem 1.125rem;
    width: 29rem;
    height: 29rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    scroll-snap-align: start;
}

.roadmap-bottom-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
}

.roadmap-bottom-buttons * img {
    width: 1.125rem;
    height: auto;
}

.roadmap-bottom-buttons button:first-child img {
    transform: rotate(180deg);
}

.roadmap-bottom-buttons * {
    background: none;
    border: none;
    cursor: pointer;
}

.roadmap-bottom-buttons button:disabled {
    opacity: 25%;
    cursor: default;
}

.roadmap-bottom-buttons button:disabled img {
    pointer-events: none;
}

.roadmap-column * {
    margin: 0;
}

.roadmap-column span {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.roadmap-column h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.roadmap-column p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-line;
}

.roadmap-container:nth-child(3n) .roadmap-column {
    background-color: #180D5B;
}

.roadmap-container:nth-child(3n) .roadmap-column span {
    color: #88FFF3;
}

.roadmap-container:nth-child(3n) .roadmap-column h4 {
    color: #FFFFFF;
}

.roadmap-container:nth-child(3n) .roadmap-column p {
    color: #FFFFFF;
}

.roadmap-container:nth-child(3n+1) .roadmap-column {
    background-color: #88FFF3;
}

.roadmap-container:nth-child(3n+1) .roadmap-column span {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+1) .roadmap-column h4 {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+1) .roadmap-column p {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+2) .roadmap-column {
    background-color: #EFF2F5;
}

.roadmap-container:nth-child(3n+2) .roadmap-column span {
    color: #42E8E0;
}

.roadmap-container:nth-child(3n+2) .roadmap-column h4 {
    color: #180D5B;
}

.roadmap-container:nth-child(3n+2) .roadmap-column p {
    color: #180D5B;
}

@media (max-width: 62.5rem) {
    .roadmap-row-container {
        width: 29rem;
    }
}

@media (max-width: 90rem) {
    .roadmap-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .roadmap-container .section-column {
        text-align: center;
        margin: 0;
        gap: 1rem;
    }

    .roadmap-container .section-column-image {
        display: block;
        position: relative;
        top: 1rem;
    }
}

/*============================ TEXT SECTION ============================*/

.text-section {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    color: #180D5B;
    padding: calc(8rem + 4.375rem) 1.25rem 8rem 1.25rem;
    min-height: 100vh;
}

.text-content-wrapper {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.125rem;
}

.text-content-wrapper .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.text-content-wrapper .header-wrapper h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.75rem;
    margin: 0;
}

.text-content-wrapper .header-wrapper h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0;
}

.text-content-wrapper p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    white-space: pre-line;
}